<!-- Main -->
<div id="main">

    <!-- Featured -->
    <div class="container">
        <div class="row">
            <section class="3u">
                <a href="#" class="image full"><img src="/static/images/pics01.jpg" alt=""></a>
                <p>Porttitor eu, tempus id, varius non, nibh. Duis enim nulla dapibus lacinia, venenatis. Vestibulum imperdiet.</p>
            </section>
            <section class="3u">
                <a href="#" class="image full"><img src="/static/images/pics02.jpg" alt=""></a>
                <p>Vestibulum imperdiet, magna nec eleifend rutrum. Duis enim nulla, luctus eu, dapibus lacinia quam. </p>
            </section>
            <section class="3u">
                <a href="#" class="image full"><img src="/static/images/pics03.jpg" alt=""></a>
                <p>Nulla enim eros, porttitor eu, tempus varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis quam.</p>
            </section>
            <section class="3u">
                <a href="#" class="image full"><img src="/static/images/pics04.jpg" alt=""></a>
                <p>Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum.</p>
            </section>
        </div>

    </div>
    <!-- /Featured -->

    <!-- Main Content -->
    <div class="container">
        <div class="divider"></div>
        <div class="row">
            <div class="6u">
                <section>
                    <header>
                        <h2>Welcome to our website</h2>
                    </header>
                    <p>Welcome to<strong> Elemental</strong>, a free responsive HTML5 website template designed by <a href="http://templated.co">TEMPLATED</a>.   It features a neat and clean color combination, a spacious content area, and a large banner area, making it a great design for a corporate/portfolio type of website.  And like all of our templates, it is built on HTML5 and CSS3, has full responsive support for desktops, tablets, and mobile devices, and is 100% free to use personally or commercially under the <a href="http://templated.co/license">Creative Commons Attribution 3.0 license</a>. Be sure to check out our <a href="http://templated.co">website</a> for more awesome free HTML5 templates and follow us on <a href="https://twitter.com/templatedco">Twitter</a> for updates and new releases! Enjoy!</p>
                </section>
            </div>
            <div id="sidebar1" class="3u">
                <section>
                    <header>
                        <h2>Sidebar #1</h2>
                    </header>
                    <ul class="default alt">
                        <li class="fa fa-angle-right"><a href="#">Vestibulum luctus venenatis dui</a></li>
                        <li class="fa fa-angle-right"><a href="#">Integer rutrum nisl in mi</a></li>
                        <li class="fa fa-angle-right"><a href="#">Etiam malesuada rutrum enim</a></li>
                        <li class="fa fa-angle-right"><a href="#">Aenean elementum facilisis ligula</a></li>
                        <li class="fa fa-angle-right"><a href="#">Ut tincidunt elit vitae augue</a></li>
                    </ul>
                </section>
            </div>
            <div id="sidebar2" class="3u">
                <section>
                    <header>
                        <h2>Sidebar #2</h2>
                    </header>
                    <ul class="default alt">
                        <li class="fa fa-angle-right"><a href="#">Integer rutrum nisl in mi</a></li>
                        <li class="fa fa-angle-right"><a href="#">Etiam malesuada rutrum enim</a></li>
                        <li class="fa fa-angle-right"><a href="#">Aenean elementum facilisis ligula</a></li>
                        <li class="fa fa-angle-right"><a href="#">Ut tincidunt elit vitae augue</a></li>
                        <li class="fa fa-angle-right"><a href="#">Sed quis odio sagittis leo vehicula</a></li>
                    </ul>
                </section>
            </div>
        </div>

    </div>
    <!-- /Main Content -->

</div>
<!-- /Main -->