<div infinite-scroll="loadEvents()" infinite-scroll-distance="2">
    <timeline>
        <timeline-event ng-repeat="event in timelineEvents" side="">
            <timeline-badge class="{{event.badgeClass}}">
                <i class="glyphicon {{event.badgeIconClass}}"></i>
            </timeline-badge>
            <timeline-panel class="{{event.badgeClass}}">
                <timeline-heading>
                    <h4 class="titel">{{event.eventDate | date: "yyyy.MM.dd"}} - {{event.title}}</h4>
                </timeline-heading>
                <p>{{event.content}}</p>
            </timeline-panel>
        </timeline-event>
    </timeline>
</div>
